<section class="firstdisplay">
  <h1>Let's talk <img src="./assets/logo/circle.png" alt=""></h1>
  <p class="text">Let's design ✏️ <br>
     make art 🎭<br> play Pokémon   <img src="./assets/pokeball.png" width="18px" alt=""> <br> or Animal Crossing 🦝✌🏻</p>
  <p class="email"><a href="mailto:paugmnoz@gmail.com">paugmnoz@gmail.com</a></p>
</section>
<div class="contact-img firstdisplay" >
    <img class="pink"  draggable="false" src="./assets/contact/contact1.png" alt="">
    <img class="blue"  draggable="false" src="./assets/contact/contact2.png" alt="">
  </div>