<div class="contact-img firstdisplay" >
  <img class="pink" src="./assets/contact/contact1.png" alt="">
  <img class="blue" src="./assets/contact/contact2.png" alt="">
</div>
<section class="firstdisplay">
  <h1>Let's talk <img src="./assets/logo/circle.png" alt=""></h1>
  <p class="text">Ping me to talk about a project,<br> design ✏️<br>
     art 🎭<br> Pokémon   <img src="./assets/pokeball.png" width="18px" alt=""> <br> or just to say hi ✌🏻</p>
  <p class="email"><a href="mailto:hola@paugmnoz.design">hola@paugmnoz.design</a></p>
</section>
