<section  class="firstdisplay case-studie">
  <div class="cover" id="woof">
    <img class="one" src="./assets/projects/woof/welcome.png" alt="">
  </div>
  <div class="intro-card">
    <span class="left">
        <h1>WOOF ME <img src="./assets/logo/circle.png" alt=""></h1>
        <p class="tags">User experience -  Research</p>
        <p class="second-title">Taking care of your friend even when you’re not home.</p><br/>
        <p class="second-title">A technology-enhanced training system for reducing separation anxiety in dogs.</p>
    </span>
    <span class="right">
      <div class="badges">
        <img src="./assets/projects/woof/i2t.png" alt="">
        <img src="./assets/projects/woof/springer.png" alt="">
      </div>
      <br>
      <p class="tags">Role</p>
      <p class="second-title">UX Researcher</p>
      <br>
      <p class="tags">Timeframe</p>
      <p class="second-title">2018 - 2019 (1 year, 1 month)</p>
    </span>
  </div>
  <div class="project-content">
    <div class="col-2 intro">
        <span class="left">
          <img src="./assets/projects/woof/dog-owner.svg" alt="">
        </span>
        <span class="right">
          <p>Woof me is a short research project I worked along with a college friend and a Professor from i2t (Intformatics and telecomunication research group). </p><br/>
          <p>Dogs are highly social animals, however when left alone, separation anxiety may appear with destructive behaviors. One of the most succesful treatments for canine separation-related problems involves behavior modification: systematic desensitization and counter-conditioning. </p>
        </span>
    </div>
    <div  class="col-2 explain">
      <span class="left">
          <h2 class="quote">           <h2 class="icon">!</h2>
          However, to implement <br/>  such treatment  requires <br/> <span class="inner-bold">a strong commitment<br/>  for the owner.</span></h2>
      </span>
      <span class="right">
          <h3>Systematic desensitization</h3>
          <p>Time consuming</p>
          <br>
          <h3>Counter-conditioning</h3>
          <p>Right positive stimulation.</p>
      </span>
    </div>
    <div class="question">
      <h2>How to make <span class="inner-bold whitecolor"> easy</span> a treatment to <span class="inner-bold whitecolor">reduce separation anxiety</span>, so dog owners can <span class="inner-bold whitecolor">worry less</span> when they’re <span class="inner-bold whitecolor">not home?</span></h2>
    </div>
    <div class="col-2 mind">
        <span class="left">
            <h2 class="quote">   <h2 class="icon">!</h2> Must <br/> <span class="inner-bold">Have in mind</span></h2>
        </span>
        <span class="right">
            <h3>Behaviors categorized by:</h3>
            <ul>
              <li>Anxious vocalizations</li>
              <li>Physical uneasiness</li>
              <li>Destructive behavior</li>
              <li>Aggressiveness toward people</li>
            </ul>
            <h3>Dog sizes</h3>
            <h3>Dog-owner relationship and times</h3>
        </span>
    </div>
    <div class="vest">
      <div class="col-2 inner-vest">
          <span class="left">
              <img src="./assets/projects/woof/vest-icon.svg" alt="">
              <h2>WEARABLE VEST DESIGN</h2>
              <img class="wire" src="./assets/projects/woof/wire.svg" alt="">
            </span>
            <span class="right">
                <p>The vest was designed so the dog feel it like a hug, in addition it has components that let know the movement of the dog and to positive stimulate when anxiety was perceived by the system itslef.</p>
                <img src="./assets/projects/woof/components.svg" alt="">
            </span>
      </div>

    </div>
    <div class="vest-graphic">
      <img src="./assets/projects/woof/vest.png" alt="">
    </div>
    <div class="pilot-vest">
      <div class="inner-pilot">
          <div class="left">
              <h2>Pilot <span class="inner-bold">Vest<br/> System </span></h2>
              <p>Adjustable soft vest used <br/> during the experiment.</p>
            </div>
            <div class="right">
              <img src="./assets/projects/woof/vest_.png" alt="">
              <img class="float-img" src="./assets/projects/woof/vest4.png" alt="">
            </div>
      </div>
    </div>
    <div class="exp-section">
        <div class="exp-design">
            <p> <span class="inner-bold"> The experimental design was implemented on 5 dogs:</span> <br/>
                Three beagles, one pug and one schnauzer.</p>
        </div>
    </div>
    <div class="photo-section">
        <div class="photoframe ph-1">
            <div class="dog op20">
              <img src="./assets/projects/woof/dog1.png" alt="">
            </div>
            <div class="dog op50">
                <img src="./assets/projects/woof/dog2.png" alt="">
              </div>
            <div class="vest">
                <img src="./assets/projects/woof/dogvest.png" alt="">
              </div>
          </div>
          <div class="photoframe ph-2">
              <div class="vest">
                  <img src="./assets/projects/woof/dogvest2.png" alt="">
                </div>
                <div class="dog op50">
                    <img src="./assets/projects/woof/dog3.png" alt="">
                  </div>
                <div class="dog op20">
                    <img src="./assets/projects/woof/dog4.png" alt="">
                  </div>   
          </div>
        <div class="centerimg">
            <img src="./assets/projects/woof/dog5a.png" alt="">
        </div> 
    </div>
    <div class="vest app">
        <div class="col-2 inner-vest">
            <span class="left">
                <img src="./assets/projects/woof/appicon.svg" alt="">
                <h2>MOBILE APPLICATION <br>DESIGN</h2>
              </span>
              <span class="right">
                <p>The APP is the owners guide that will help them to train their dogs. With the training sessions the system will be calibrated with the dog characteristics and so the anxiety behaviors predicted will be accurate.</p>
                  <img src="./assets/projects/woof/appfigure.png" alt="">
              </span>
        </div>
  
      </div> 
    <div class="app-example">
        <ngx-slick-carousel class="carousel desktopapp" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide-cont">
        <div class="slide">
            <img src="{{ slide.img }}" alt="">
          </div>
          <p class="inner-bold">{{slide.ti}}</p>
           <p>{{slide.te}}</p>
      </div>
      </ngx-slick-carousel>

      <ngx-slick-carousel class="carousel mobileapp" 
      #slickModal="slick-carousel" 
      [config]="slideConfigmobile" 
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide-cont">
      <div class="slide">
          <img src="{{ slide.img }}" alt="">
        </div>
        <p class="inner-bold">{{slide.ti}}</p>
         <p>{{slide.te}}</p>
    </div>
    </ngx-slick-carousel>
    </div> 
    <div class="closing-phrase">
      <p>This project was published by Springer in the Communications in Computer and Information Science Series through the <span class="inner-bold">HCI Internacional Conference 2019.</span></p>
      <p>For more information about experimental design 
          <br> and results, check out <a  target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-030-23525-3_58">here</a> </p>
      <img class="close-img" src="./assets/projects/woof/closing-img.svg" alt="">
      <h1>WOOF ME <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">2018-2019</p>
    </div >
    <div class="project-footer">
      <div class="footer-cont">
          <p>Check out </p>
          <p><span class="inner-bold"><a href="./projects"></a> More projects</span></p>
          <div class="projects-cta">
            <div class="more-projects">
                <a routerLink="/projects/bioviz" routerLinkActive="active">
                  <div class="project-cont">
                    <div class="cover">
                      <img class="one" src="./assets/projects/bio/cover.jpg" alt="">
                    </div>
                    <img class="two" src="./assets/projects/bio/cover2.png" alt="">
                    <h4>BIOVIZ</h4>
                    <p class="year">2019 - Present</p>
                  </div>
                </a>
            </div>
                
        <div class="reach-out">
            <p> <span class="inner-bold">Something to say? </span> <br>
                Send me an <span class="inner-bold">email</span></p>
            <p id="email"><span class="inner-bold">paugmnoz@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>