@import '../../../variables.scss';
$line-height: 80px;
$line-height-abs: -80px;

p {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.719);
  width: auto;
  display: inline-block;
}

button {
  margin: 0.3rem 0;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: $maincolor;
  color: white;
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
}

.t-center {
  text-align: center;
  width: 100%;
}

.about-img {
  position: absolute;
  top: 200px;
  right: 10%;
  display: none;
  height: 400px;
  width: auto;
  opacity: 0;
  z-index: -1;

  &.me {
    display: inherit;
    visibility: visible;
    opacity: 1;
    z-index: -5;
  }
}

.about-mobile {
  display: none;
  width: 100%;
  height: auto;

  &.me {
    margin: 5rem 0 1rem 0;
  }
}

.link-text {
  text-decoration: underline;
  color: $dark;
}

img {
  pointer-events: none;
  user-select: none
}

.about-cont {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  height: auto;
}

.light-font {
  font-family: 'Sarabun', sans-serif;
  font-weight: 200;
}

.regular-font {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.highlighted {
  color: $maincolor;
  text-decoration: underline;
  text-decoration-style: dotted;

}

.maincolor {
  color: $maincolor;
}

.h-ph {
  cursor: default;
}

.text-about {
  width: 500px;
}

.subtitle {
  font-size: 25px;
}

.project-link {
  text-decoration-line: underline;

  &:hover {
    color: $maincolor
  }
}

#cali:hover {
  img.city {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

#draw:hover {
  img.draw {
    display: inherit;
    visibility: visible;
    opacity: 1;

  }
}

#poke:hover {
  img.poke {
    display: inherit;
    visibility: visible;
    opacity: 1;

  }
}

#colombia:hover {
  img.colombia {
    display: inherit;
    visibility: visible;
    opacity: 1;
  }
}

#hcii:hover {
  span {
    img.hcii {
      display: inherit;
      visibility: visible;
      opacity: 1;
      top: 20vh;
      height: 500px;
    }
  }

}

#me:hover {
  img.me {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
  }
}

.about-cont {
  padding: 100px 30px 0 30px;
}

.c-scrolldown {
  width: 2px;
  height: $line-height;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;

  .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, $maincolor 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 $line-height-abs;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }
}

@keyframes scrolldown {
  0% {
    background-position: 0 $line-height-abs;
  }

  75% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 $line-height;
  }
}

.introabout {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  .left {
    width: 55%;
    margin: 0 0 0 10rem;
    position: relative;

    .city-img {
      width: 90%;
      height: 60vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 5rem 0 0 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .food-img,
    .love-img,
    .poke-img {
      position: absolute;
    }

    .poke-img {
      bottom: 7rem;
      left: -75px;
      width: 250px;
      max-width: 250px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .love-img {
      bottom: -2rem;
      right: 9rem;
      width: 250px;
      max-width: 250px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .food-img {
      top: 35px;
      right: 35px;
      width: 200px;
      max-width: 200px;
      height: auto;

      img {
        width: 100%;
      }
    }
  }

  .right {
    width: 45%;
    padding: 0 2rem;

    .pokemon {
      display: none;
    }

    img {
      margin: 0 0 2rem 0;
    }

    p {
      width: 70%;
      font-size: 17px;

    }
  }
}

.home-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;

  p {
    background-color: transparent;
  }

  h2 {
    font-weight: 400;
    font-size: 26px;
  }

  .grayDiv {
    background-color: #f7f7f7;
    height: 150px;
    width: 94%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .take-a-look {
    align-self: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6rem 0 0 0;

    h2 {
      font-weight: 600;
    }

    p {
      font-size: 19px;
      margin: 2rem 0 0 0;
      cursor: pointer;

      &:hover {
        color: $maincolor;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .foot {
    padding: 3rem 0;
    background-color: $dark;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .mail {
      a {

        color: $maincolor;
        font-weight: 600;
        font-size: 24px;
      }
    }

    p {
      margin: 3rem 0 0 0;
      color: #776d92;
    }
  }
}

.more-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;

  .left-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .me {
      width: 480px;
      height: auto;
      margin: 3rem 0 0 0;
    }
  }

  .right-about {
    width: 50%;

    .skills {
      h2 {
        margin: 1rem 0 0 0;

      }
      article {
        margin: 0 0 1rem 0;
        padding: 1rem;
        border: 0.5px solid rgb(241, 241, 241);
        border-radius: 7px;
        &:hover {
          p {
            &:first-child {
            color: $maincolor;
            }
          }
          border: 0.5px solid transparent;
          cursor: pointer;
          box-shadow: 0px 1px 0px rgba(17,17,26,0.05), 0px 0px 8px rgba(17,17,26,0.1);      }

        }
    }

    .competences {
      width: 60%;
      cursor: default;
      span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem 0 0 0;
        p {
          margin: 0 1rem 1rem 0;
        }
      }
    }
  }
}

.scrolly {
  width: 100%;
  margin: 5rem 0 0 0;
  position: relative;
  figure {
    img {
      max-width: 500px;
      height: auto;
      &.zero {
        margin: 0 0 0 -5rem;
        padding: 120px 0;
      }
      &.one {
        margin: 0 0 0 10rem;
      }
      &.two {
        margin: 0 0 0 10rem;
      }
      &.three {
        margin: -4rem 0 0 10rem;
      }
      &.four {
        margin: -2rem 0 0 10rem;
      }
      &.five {
        margin: -4rem 0 0 10rem;
      }
      &.six {
        margin: -4rem 0 0 10rem;
      }
    }
  }
  article {
    position: relative;
    margin: 10rem 0 0 0;
    width: 40%;
    .step {
      opacity: 0.2;
      margin:  0 0 350px  0;
      background-color: rgba(255, 255, 255, 0.822);
      display: flex;
      flex-direction: row;
      .highlighted {
        text-decoration: none;
        cursor: pointer;
      }
      .description {
        margin: 0 0 0 2.5rem;
      }
      .date {
        text-align: right;
      }
      &.entered {
        opacity: 1;
     
      }
      &.passed {
        opacity: 0.2 !important;

      }
     
    }
  }
  .title {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    left: 2rem;
    width: 300px;
    z-index: 5;
    background-color: white;
  }
  figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    margin: 2rem 0 0 0;
    top: 250px;
    width: 40%;
    left: 40%;
  }
}
@media (max-width: 780px) {
  .more-section {
    flex-direction: column;
    justify-content: flex-start;
    .left-about {
      width: 98%;
    }
    .right-about {
      width: 98%;
      .skills {
        h2 {
          margin: 1rem 0 0 0;
  
        }
        article {
          margin: 0 0 1rem 0;
          padding: 1rem;
          border: 0.5px solid rgb(241, 241, 241);
          border-radius: 7px;
          &:hover {
            p {
              &:first-child {
              color: $maincolor;
              }
            }
          }
      }
  
      .competences {
        width: 100%;
        span {
          margin: 1rem 0 0 15px;
          p {
            margin: 0 1rem 1rem 0;
          }
        }
      }
    }
  }
  }
  .scrolly {
    .title {
      top: 120px;
    }
    figure {
      img {
        width: 98%;
        height: auto;
        margin: o auto;
      }
    }
    article {
    padding: 30vh 0 0 0;
    }
  } 

  
  .home-footer {
    justify-content: space-around;

    .grayDiv {
        height: 50px;
        width: 98%;
    }

    .take-a-look {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 55vh;
        margin: 3rem 0 2rem 0;

        h2 {
            font-weight: 600;
        }

        p {
            font-size: 18px;
            margin: 1rem 0 0 0;
        }
    }

    .foot {
        flex-direction: column-reverse;
        padding: 1.5rem;
        width: 100%;

        justify-content: flex-end;

        .greet {
            h2 {
                font-size: 18px;
            }

            margin: 0 0 1rem 0;
        }

        p {
            width: 90%;
            font-size: 15px;
            text-align: right;
            margin: 2rem 0 0 10%;
        }
    }
}
  .scrolly {
    figure.sticky {
      top: 250px;
      width: 90%;
      left: 1rem;
    }
    figure {
      img {
        max-width: 500px;
        height: auto;
        &.zero {
          margin: 0 ;
          padding: 120px 0;
        }
        &.one {
          margin: 0;
        }
        &.two {
          margin: 0;
        }
        &.three {
          margin:0;
        }
        &.four {
          margin: 0;
        }
        &.five {
          margin:0;
        }
        &.six {
          margin: 0;
        }
      }
    }
    article {
      width: 98%;
      p {
        background-color: transparent;
      }
    }
    
}
  p {
    font-size: 18px;
  }

  #cali:hover {
    img.city {
      display: none;
      visibility: hidden;
    }
  }

  #draw:hover {
    img.draw {
      display: none;
      visibility: hidden;

    }
  }

  #poke:hover {
    img.poke {
      display: none;
      visibility: hidden;

    }
  }


  .highlighted {
    color: $maincolor;
    text-decoration: none;
  }

  #colombia:hover {
    img.colombia {
      display: none;
      visibility: hidden;
    }
  }

  .text-about {
    width: 100%;
  }

  #hcii:hover {
    span {
      img.hcii {
        display: none;
        visibility: hidden;
      }
    }

  }

  .name {
    margin: 5rem 0 0 0;
  }

  .about-mobile {
    display: inherit;
    visibility: visible;

  }

  .m-hidden {
    display: none;
  }

  .about-img {

    &.me {
      display: none;
      visibility: hidden;
    }
  }

  .introabout {
    flex-direction: column;
    height: auto;
    margin: 94px 0 0 0;
    padding: 0 auto;

    .left,
    .right {
      width: 90%;
      padding: 0;

      p {
        width: 100%;

      }
    }

    .right {
      margin: 0 0 1rem 0;

      .pokemon {
        display: block;
        width: 100%;
      }
    }

    .left {
      display: none;

      .city-img {
        width: 100%;
        height: auto;
        margin: 1rem 0 0 0;
      }
    }
  }

  .skill-intro {
    margin: 2rem 0 0 0;
    padding: 2rem 0 2rem 0;

    p {
      margin: 1.5rem 0 0.4rem 0;
      width: 80%;
      font-size: 17px;
      text-align: center;

    }
  }

  .skils-section,
  .skill-cont {
    flex-direction: column;
    align-content: center;
  }

  .skill-cont {
    .hint {
      display: block;
      color: white;
      opacity: 0.5;
    }
  }

  .skils-section,
  .skill-intro {
    height: auto;
  }

  .skils-section {
    padding: 2rem 0 0 0;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
  }

  .super-box {
    margin: 0;
    overflow-x: hidden;
  }

  .c-scrolldown {
    display: none;
  }
}