<div class="c-scrolldown firstdisplay">
  <div class="c-line"></div>
</div>
<div class="about-cont firstdisplay">
  <h1 class="name">PAULA <span class="light-font">GARCÍA </span> <img src="./assets/logo/circle.png" width="12px"
      alt=""> <span id="me" class="regular-font highlighted h-ph"><img class="about-img me"
        src="./assets/about/me-frame.jpg" alt=""></span></h1>
  <p class="inner-bold">Interaction Product Designer </p>
  <br>
  <p>from the warm city of <span id="cali" class="highlighted h-ph">Cali <img class="about-img city"
        src="./assets/about/cali-frame.jpg" alt="">
    </span> , <span id="colombia" class="highlighted h-ph">Colombia <img class="about-img colombia"
        src="./assets/about/col.jpg" alt=""></span></p>
  <img class="about-mobile me" src="./assets/about/me-frame.jpg" alt="">
  <br>
  <br>
  <p>Currently Information UX Designer at <a href="https://datapico.com/" target="blank"
      class="project-link">datapico</a> agency!</p>
  <br>
  <br>
  <p class="text-about">My design work has been understanding, thinking and creating concepts that makes a
    <span class="inner-bold "> desirable experience</span> for people while their interactions with <span
      class="inner-bold ">
      digital products</span> and
    <span class="inner-bold "> information consumerism</span>, while being involved in the whole process.</p>
  <br>
  <br>
  <p>Passionated for <span id="draw" class="highlighted h-ph"> drawing<img class="about-img draw"
        src="./assets/pokeparty.jpg" alt=""></span>, dogs, </p>
  <br class="m-hidden">
  <p>playing <span id="poke" class="highlighted h-ph"> Pokémon <img class="about-img poke"
        src="./assets/about/go-frame.jpg" alt=""></span> and </p>
  <br class="m-hidden">
  <p> learning about everything.</p>
  <img class="about-mobile poke" src="./assets/pokeparty.jpg" alt="">
  <br>
  <br> <br>
  <h1 class="subtitle">PUBLICATIONS <img src="./assets/logo/circle.png" width="12px" alt=""></h1>
  <br>
  <p class="inner-bold"><a class="link-text" href="https://link.springer.com/chapter/10.1007/978-3-030-23525-3_58"
      target="blank">Technology-Enhanced Training System for Reducing Separation Anxiety in Dogs</a> </p>
  <br>
  <p id="hcii"> <span class="highlighted h-ph">HCI International 2019 <img class="about-img hcii"
        src="./assets/about/hciihotel-frame.jpg" alt=""></span> - Conference - Orlando, FL 🇺🇸</p>
  <br>
  <p>Ladridos - Magazine - Madrid, Spain</p>
  <br>
  <br class="m-hidden">
  <a href="https://drive.google.com/file/d/1EAAPGhpZia8C-PDR9CqirIePA7HfvzOR/view?usp=sharing" target="blank">
    <button>Download CV</button></a>

  <br class="m-hidden"><br class="m-hidden"><br class="m-hidden"><br class="m-hidden"><br><br><br><br>

 
  <div class="more-section">
    <div class="left-about">
      <h1 class="name">MORE ABOUT ME <img src="./assets/logo/circle.png" width="12px" alt=""> <span id="me"
        class="regular-font highlighted h-ph"><img class="about-img me" src="./assets/about/me-frame.jpg" alt=""></span>
    </h1>
    </div>
    <div class="right-about">
      <div class="skills">
        <h2 class="maincolor">SKILLS</h2>
        <br>
        <article>
          <p class="inner-bold">User Experience (UX)</p>
          <br>
          <p>Conduct Interviews, Observation.
            Synthesize Insights (Journey Maps, Empathy).
            Information Architecture - Usability Testing.</p>
        </article>
        <article>
          <p class="inner-bold">Interface Design (UI)</p>
          <br>
          <p>Layout digital interfaces, Wireframing (Figma/ Sketch/ XD/ HTML, SASS, JS), Atomic Design, Information Architecture, Design Systems.

          </p>
        </article>
        <article>
          <p class="inner-bold">Information Design - Data Viz</p>
          <br>
          <p>Tableau, Information Architecture, Interactive, Scrollytelling, D3.js, React/Angular/Vue JS.</p>
        </article>
        <article>
          <p class="inner-bold">Branding - Art Concept</p>
          <br>
          <p>Moodboard, Illustration, Logos, Color Schemes.</p>
        </article>
      </div>
      <div class="competences">
        <h2 class="maincolor">COMPETENCES</h2>
        <span>
          <p class="inner-bold">Adaptability</p>
          <p class="inner-bold">Project Management</p>
          <p class="inner-bold">Teamwork</p>
          <p class="inner-bold">Detail Oriented</p>
          <p class="inner-bold">Context Oriented</p>
        </span>
      </div>
    </div>
   
  </div>

</div>

<section class="scrolly ">
  <!-- sticky graphic -->
	<figure class='sticky'>
    <!-- chart stuff in here -->
    <p>HELOOOOOO</p>
  </figure>
  	<!-- step text -->
	<article>
		<div class='step' data-index='0'>
			<p>Step text 1</p>
    </div>
    <div class='step' data-index='0'>
			<p>Step text 2</p>
    </div>
    <div class='step' data-index='0'>
			<p>Step text 3</p>
		</div>
  </article>
  
</section>
<div class="">
  <span class="home-footer">
    <div class="take-a-look">
      <h2>Take a look at</h2>
      <p routerLink="/projects" routerLinkActive="active">my projects</p>
      <p routerLink="/about" routerLinkActive="active">about me section</p>
    </div>
    <div class="foot">
      <div class="info-div">
        <h2>Let's talk</h2>
        <h2 class="mail"> <a a href="mailto:hola@paugmnoz.design?Subject=Hello%20Pau" target="_top">
            hola@paugmnoz.design</a> </h2>

        <p>Designed and developed by myself in Jul 2019. Last updated April 2020.</p>
      </div>
      <div class="greet">
        <h2>Greetings from <br> Cali, Colombia. </h2>
      </div>
    </div>
  </span>
</div>