<div class="c-scrolldown firstdisplay">
  <div class="c-line"></div>
</div>
<div class="about-cont firstdisplay">

  <h1 class="name">PAULA <span class="light-font">GARCÍA </span> <img src="./assets/logo/circle.png" width="12px"
      alt=""> <span id="me" class="regular-font highlighted h-ph"><img class="about-img me"
        src="./assets/about/me-frame.jpg" alt=""></span></h1>
  <p class="inner-bold">Interaction Product Designer </p>
  <br>
  <p>from the warm city of <span id="cali" class="highlighted h-ph">Cali <img class="about-img city"
        src="./assets/about/cali-frame.jpg" alt="">
    </span> , <span id="colombia" class="highlighted h-ph">Colombia <img class="about-img colombia"
        src="./assets/about/col.jpg" alt=""></span></p>
  <img class="about-mobile me" src="./assets/about/me-frame.jpg" alt="">
  <br>
  <br>
  <p>Currently UX Design Researcher at i2t Research Group 💻✍️</p>
  <br>
  <br>
  <p>Working on my <a href="" target="blank" class="project-link">thesis project</a> 🦆🎓</p>
  <br>
  <p>at Icesi University</p>
  <br>
  <br>
  <p class="text-about">I've been mostly designing to enhance the experience with digital products, data and
    information communication, while beeing involved in the whole process.</p>
  <br>
  <br>
  <p>Passionated for <span id="draw" class="highlighted h-ph"> drawing<img class="about-img draw"
        src="./assets/pokeparty.jpg" alt=""></span>, dogs, - </p>
  <br class="m-hidden">
  <p>playing <span id="poke" class="highlighted h-ph"> Pokémon <img class="about-img poke" src="./assets/pokeparty.jpg"
        alt=""></span> and -</p>
  <br class="m-hidden">
  <p> learning about everything.</p>
  <img class="about-mobile poke" src="./assets/pokeparty.jpg" alt="">
  <br>
  <br>
  <h1 class="subtitle">PUBLICATIONS <img src="./assets/logo/circle.png" width="12px" alt=""></h1>
  <br>
  <p class="inner-bold"><a class="link-text" href="https://link.springer.com/chapter/10.1007/978-3-030-23525-3_58"
      target="blank">Technology-Enhanced Training System for Reducing Separation Anxiety in Dogs</a> </p>
  <br>
  <p id="hcii"> <span class="highlighted h-ph">HCI International 2019 <img class="about-img hcii"
        src="./assets/about/hciihotel-frame.jpg" alt=""></span> - Conference - Orlando, FL 🇺🇸</p>
  <br>
  <p>Ladridos - Magazine - Madrid, Spain</p>
  <br class="m-hidden"><br class="m-hidden"><br class="m-hidden"><br class="m-hidden"><br
    class="m-hidden"><br><br><br><br><br>
  <h1 class="subtitle t-center">SKILLS <img src="./assets/logo/circle.png" width="12px" alt=""></h1>
  <br>
  <p class="t-center">During my studies and experience I've learn many things such as:</p>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="skils-section firstdisplay">
  <div class="skill-cont">
    <p class="hint">Click or Hover the items</p>
    <div class="super-box">
      <div class="container">
        <div id="research" data-skill="Getting to know the user and the context is the first step to build engaging experiences."
          class="box">
          <div class="icon_bg"></div>
        </div>
        <div class="icon">
          <img src="./assets/tools/ux.svg" width="80px" alt="">
          <h1>UX RESEARCH</h1>
        </div>
      </div>
      <div class="tools">
          <div class="tool-icon">
              <img src="./assets/tools/ideo.jpg" width="30px" alt="">
            </div>
        <div class="tool-icon">
          <img src="./assets/tools/figma.png" width="35px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/xd.png" width="20px" alt="">
        </div>
      </div>
      <div class="text">
        <p class="title">
          UX Research
        </p>
      </div>
    </div>

    <div class="super-box">
      <div class="container">
        <div class="infoDesign box" data-skill="Sketching and iterating the best way to present information to people.">
          <div class="icon_bg"></div>
        </div>
        <div class="icon">
          <img src="./assets/tools/ui.svg" width="80px" alt="">
          <h1>INFORMATION DESIGN</h1>
        </div>
      </div>
      <div class="tools">
        <div class="tool-icon">
          <img src="./assets/tools/figma.png" width="35px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/xd.png" width="20px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/ai.png" width="20px" alt="">
        </div>
      </div>
      <div class="text">
        <p class="title">
          Information Design
        </p>
      </div>
    </div>

    <div class="super-box">
      <div class="container">
        <div id="research" data-skill="Finding the perfect shapes and colors to represent any product or service."
          class="box">
          <div class="icon_bg"></div>
        </div>
        <div class="icon">
          <img src="./assets/tools/aes.svg" width="80px" alt="">
          <h1>AESTHETICS</h1>
        </div>
      </div>
      <div class="text">
        <p class="title">
          Aesthetics
        </p>
      </div>
      <div class="tools">
        <div class="tool-icon">
          <img src="./assets/tools/notebook.png" width="25px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/wacom.png" width="25px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/ideo.jpg" width="30px" alt="">
        </div>
      </div>
    </div>
    <div class="super-box">
      <div class="container">
        <div id="research" data-skill="Functional prototyping and develope through front-end web-layout." class="box">
          <div class="icon_bg"></div>
        </div>
        <div class="icon">
          <img src="./assets/tools/code_1.svg" width="80px" alt="">
          <h1>CODING</h1>
        </div>
      </div>
      <div class="tools">
        <div class="tool-icon">
          <img src="./assets/tools/ang.png" width="25px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/react.png" width="25px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/d3.png" width="22px" alt="">
        </div>
        <div class="tool-icon">
          <img src="./assets/tools/scss.png" width="27px" alt="">
        </div>
      </div>
      <div class="text">
        <p class="title">
          Coding
        </p>
      </div>
    </div>

  </div>
</div>

<!--

<div class="introabout firstdisplay">
  <div class="left">
    <div class="city-img">
      <img src="./assets/city.jpg" alt="">
    </div>
    <div class="poke-img">
      <img src="./assets/about/go.jpg" alt="">
    </div>
    <div class="food-img">
      <img src="./assets/about/ramen.jpg" alt="">
    </div>
    <div class="love-img">
      <img src="./assets/about/artbo.jpg" alt="">
    </div>
  </div>
  <div class="right">
    <img src="./assets/logo/row-text.png" width="180px" alt="">
    <p>I’m Paula García Muñoz, <span class="inner-bold highlighted"> Interaction Designer </span> from the warm city of
      Cali, Colombia.</p><br>
    <img class="pokemon" src="./assets/city.jpg" alt="">
    <p>Past years I’ve been mostly creating experiences for <span class="inner-bold ">digital products</span> and
      corporate designs, while being involved of the whole design and develop process.</p><br>
    <img class="pokemon" src="./assets/meux.png" alt="">
    <p>I’m also pasionate for <span class="inner-bold ">drawing</span> , playing <span
        class="inner-bold ">Pokemon</span> and <span class="inner-bold">learning</span> about everything.</p>
    <img class="pokemon" src="./assets/pokeparty.jpg" alt="">
  </div>
</div>
-->