<section class="firstdisplay">
    <a routerLink="/projects/bioviz" routerLinkActive="active" class="card-left">
      <div class="container ">
        <div class="cover">
          <img class="one" src="./assets/projects/bio/cover.jpg" alt="">
        </div>
        <img class="two" src="./assets/projects/bio/cover2.png" alt="">
        <h4>BIOVIZ</h4>
        <p class="year">2019</p>
      </div>
    </a>
    <a routerLink="/projects/woofme" routerLinkActive="active" class="card-right">
      <div class="container">
        <div class="cover">
          <img class="one" src="./assets/projects/woof/cover.jpg" alt="">
        </div>
        <img class="two" src="./assets/projects/woof/cover-2.svg" width="170px" alt="">
        <h4>WOOF ME</h4>
        <p class="year">2018 - 2019</p>
      </div>
    </a>

</section>

