<section class="firstdisplay">

  <a routerLink="/projects/bioviz" routerLinkActive="active" class="">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/bio-prev.jpg" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Bioviz</h2>
      <p>UX Research - UI Design</p>
    </article>
  </a>
  <a routerLink="/projects/woofme" routerLinkActive="active" class="">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/woofme-prev.jpg" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Woofme</h2>
      <p>UX Research</p>
    </article>
  </a>
</section>

