<section class="firstdisplay">
    <a routerLink="/projects/woofme" routerLinkActive="active">
    <div class="container">
        <div class="cover">
          <img class="one" src="./assets/projects/woof/cover.png" alt="">
        </div>
        <img class="two" src="./assets/projects/woof/cover-2.svg" alt="">
        <h4>WOOF ME</h4> <p class="year">2018</p>
      </div>
    </a>

      <div class="container ">
          <div class="cover">
            <img class="one" src="./assets/projects/woof/cover.png" alt="">
          </div>
          <img class="two" src="./assets/projects/woof/cover-2.svg" alt="">
          <h4>Woof me</h4> <p class="year">2018</p>
        </div>
</section>

