@import url(~fullpage.js/dist/fullpage.min.css);
@import '../../../variables.scss';
$line-height: 80px;
$line-height-abs: -80px;

.c-scrolldown {
  width: 2px;
  height: $line-height;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;

  .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, $maincolor 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 $line-height-abs;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;

  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    margin: 0;
    flex-wrap: wrap;

    .hello {
      position: relative;
      margin: 10rem 0 0 5rem;

      .hi {
        position: absolute;
        font-family: Badass Moon !important;
        font-size: 107px;
        top: 0;
        left: -3rem;
        color: #d2d2da;
        mix-blend-mode: multiply;

      }

      .text-intro {
        margin: 70px 0 0 0;
      }

      h2 {
        font-size: 27px;

      }

      div {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        >h1 {
          margin: 0 0 0 20px;

          #roll-1 {
            animation: roll 8s infinite;
          }

          #roll-2 {
            animation: roll2 8s infinite;
          }

          @keyframes roll {
            0% {
              margin-left: 0;
              opacity: 1;
            }

            25% {
                margin-left: 0;
                opacity: 1;
            }

            50% {
                margin-left: -30px;
                opacity: 0;
            }

            75% {
                margin-left: -30px;
              opacity: 0;
            }

            100% {
                margin-left: 0;
              opacity: 1;
            }
          }

          @keyframes roll2 {
            0% {
                opacity: 0;
              }
  
              25% {
                opacity:0;
              }
  
              50% {
                opacity: 1;
              }
  
              75% {
                opacity: 1;
              }
  
              100% {
                opacity: 0;
              }
          }
        }
      }

      >h1 {
        margin: 0 0 0 96px;
      }
    }

    .description {
      min-width: 250px;
      align-self: flex-end;
      margin: 0 0 9rem 0;
      text-align: right;
      font-size: 18px;

      .highlighted {
        font-weight: 800;
        color: #ff144a
      }
    }
  }

  .image {
    max-height: 80vh;
    height: 80vh;
    width: 45%;
    align-self: center;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      left: 0;
      &#ux {
        animation: imgFade 8s infinite;
      }

      &#ui {
        animation: imgFade2 8s infinite;
      }

    }
  }
}

@keyframes imgFade2 {
    0% {
      opacity: 0;
    }
  
    25% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    75% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
@keyframes imgFade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide2 {
  div.recent-projects-cont {
    width: 100vw;
    height: calc(100vh - 94px);
    max-width: 1920px;
    margin: 94px auto 0 auto;
    background-color: $dark;
    color: white;
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow-y: auto;

    h1,
    h3 {
      text-align: center;
    }

    h3 {
      font-weight: 200;
      margin: 0 0 1rem 0;
    }

    h1 {
      color: white;
      font-size: 27px;
    }

    .more-projects {
      margin: 20vh 0;

      .project-cont {
        .two {
          top: -80px;
          left: 25%;
        }
      }
    }
  }
}


@media (min-width: 781px) and (max-width: 1000px) {
  .home {
    flex-direction: row;
    justify-content: space-around;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 40%;
      padding: 0;

      .description {
        margin: 7rem 2rem 0 0;
      }
    }
  }
}

@media (max-width: 780px) {
  .slide2 {
    div.recent-projects-cont {
      .more-projects {
        margin: 1.5rem 0 0 0;

        .project-cont {
          margin: 0.8rem 0;

          .two {
            top: 10px;
            left: 25%;
          }
        }
      }
    }
  }

  .home {
    flex-direction: column;
    justify-content: space-around;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0 auto;
      margin: auto;
      width: auto;
      height: 90vh;

      .hello {
        margin: -3rem 0 0 0;

        .hi {
          color: $dark;
          opacity: .7;
          top: -6rem;
          left: 3rem;

        }
      }

      .description {
        margin: 5rem 0 0 0;
      }

    }

    .image {
      position: absolute;
      top: 94px;
      margin: auto;
      z-index: -1;
      opacity: 0.5;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
        transform: scale(1.2)
      }
    }
  }
}