<span class="hola">
  <img class="top" src="./assets/home/curvetop.png" alt="">
  <img class="bottom" src="./assets/home/curvebottom.png" alt="">
  <p class="scroll-arrow">➜</p>
  <section>
    <div class=" firstdisplay">
      <div class="intro firstdisplay">
        <span class="text-intro">
          <span>
            <h1>Hello</h1>
            <p>I design formidable ways <br> to experience our technological world</p>
           
          </span>
          <p class="gray-text">UX Design & Research - UI Design - Illustration - Interactive Stories</p>
        </span>
        <img _ngcontent-ewh-c3="" alt="" class="me" src="./assets/about/timeline/me.png">
      </div>
    </div>
    <div class="work ">
      <h1>Latest work <br></h1>

      <article >
        <a routerLink="/projects/bioviz" routerLinkActive="active" class="">
        <div class="featured-project firstdisplay">
          <img src="./assets/previews/bio-feat-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Bioviz</h2>
        <p>UX Research - UI Design</p>
      </a>
      </article>
      <article >
        <a routerLink="/projects/woofme" routerLinkActive="active" >
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Woofme</h2>
        <p>UX Research</p>
      </a>
      </article>
      <article>
        <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/film-prev.png" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Filmmate</h2>
        <p>UX/UI Design</p>
      </a>
      </article>
      <div class="moreprojects">
        <a routerLink="/projects" routerLinkActive="active" >
          <button>Check out all the work ➜</button>
          </a>
      </div>
    </div>
    <div>
      <span class="passion">
        <h1 class="pass-intro">What I ❤️ to do: </h1>
        <div class="passions desktop-pas">
          <article routerLink="/projects/uxresearch" routerLinkActive="active" class="passion-card firstdisplay">
            <div #scene id="scene" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/ux-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresux-designer.png" alt="">
            </div>
            <p class="title ">Design Experiences</p>
            <p class="desc">User Experience - Research</p>
            <p class="highlighted linkto">Click to check out related work</p>
          </article>
          <article routerLink="/projects/branding" routerLinkActive="active" class="passion-card firstdisplay">
            <div #scene2 id="scene2" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/visual-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresvisual-designer.png" alt="">
            </div>
            <p class="title ">Create Strong Visual Concepts</p>
            <p class="desc">Branding - Interfaces - Illustration</p>
            <p class="highlighted linkto">Click to check out related work</p>
          </article>
          <article routerLink="/projects/ui" routerLinkActive="active" class="passion-card firstdisplay">
            <div #scene3 id="scene3" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/info-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresinfo-designer.png" alt="">
            </div>
            <p class="title ">Design the way we consume data</p>
            <p class="desc">Infographics - Interactive DataViz</p>
            <p class="highlighted linkto">Click to check out related work</p>
          </article>
        </div>
        <div class="passions mob-pas">
        
          <article routerLink="/projects/uxresearch" routerLinkActive="active" class="passion-card firstdisplay">
            <div #mob_scene id="mob_scene" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/ux-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresux-designer.png" alt="">
            </div>
            <p class="title ">Design Experiences</p>
            <p class="desc">User Experience - Research</p>
            <p class="highlighted linkto">Check out related work ➜</p>
          </article>
          <article routerLink="/projects/branding" routerLinkActive="active" class="passion-card firstdisplay">
            <div #scene2 id="scene2" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/visual-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresvisual-designer.png" alt="">
            </div>
            <p class="title ">Create Strong Visual Concepts</p>
            <p class="desc">Branding - Interfaces - Illustration</p>
            <p class="highlighted linkto">Check out related work ➜</p>
          </article>
          <article routerLink="/projects/ui" routerLinkActive="active" class="passion-card firstdisplay">
            <div #scene3 id="scene3" data-friction-x="0.1" pointer-events="true" data-friction-y="0.1"
              class="illustration">
              <img data-depth="0" class="pau-img" src="./assets/home/info-designer.png" alt="">
              <img data-depth="1" class="hover-parallax" src="./assets/home/wiresinfo-designer.png" alt="">
            </div>
            <p class="title ">Design the way we consume data</p>
            <p class="desc">Infographics - Interactive DataViz</p>
            <p class="highlighted linkto">Check out related work ➜</p>
          </article>
        </div>
      </span>
    </div>
    <div>
      <span class="home-footer">
        <div class="take-a-look">
          <h2>Take a look at</h2>
          <p routerLink="/projects" routerLinkActive="active">my projects</p>
          <p routerLink="/about" routerLinkActive="active">about me section</p>
        </div>
        <div class="foot">
          <div class="info-div">
            <h2>Let's talk</h2>
            <h2 class="mail"> <a a href="mailto:paugmnoz@gmail.com?Subject=Hello%20Pau" target="_top">
                paugmnoz@gmail.com</a> </h2>

            <p>Designed and developed by myself in Jul 2019. Last updated April 2020.</p>
          </div>
          <div class="greet">
            <h2>Greetings from <br> Cali, Colombia. </h2>
          </div>
        </div>
      </span>
    </div>
  </section>
</span>