<section  class="firstdisplay">
  <div class="menu">
    <h1>PROJECTS <img src="../../../assets/logo/circle.png" alt=""></h1>
    <ul>
      <li routerLink="/projects/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onSelect('overview')">Overview  <span class="count">all</span></li>
      <li  routerLink="/projects/uxresearch" routerLinkActive="active" (click)="onSelect('overview')">UX & Research  <span class="count">5</span></li>
      <li  routerLink="/projects/ui" routerLinkActive="active"  (click)="onSelect('overview')">User Interface  <span class="count">4</span></li>
      <li  routerLink="/projects/branding" routerLinkActive="active"  (click)="onSelect('overview')">Branding  <span class="count">2</span></li>
      <li  routerLink="/projects/web" routerLinkActive="active" (click)="onSelect('overview')">Web  <span class="count">2</span></li>
      <li routerLink="/projects/illustration" routerLinkActive="active"  (click)="onSelect('overview')">Illustration  <span class="count">2</span></li>
    </ul>
  </div>
  <div class="viz">
      <router-outlet ></router-outlet>
  </div>
</section>