@import './../../../variables.scss';
.viz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
section {
    position: relative;
  margin: 94px auto 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1440px;
  div {
    &.menu {
      margin: 3rem 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   
    }

    &.viz {
      width: 100%;
      margin: 0 auto;
    }

    h1 {
      cursor: pointer;

    }

    ul {
      margin: 2rem 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      li {
        font-size: 19px;
        font-weight: 300;
        color: #b3b3b3;
        list-style: none;
        margin: 0 3rem ;
        cursor: pointer;
        &:nth-child(1) {
          margin: 0 3rem 0 0;
          }


        .count {
          visibility: hidden;
          display: none;
          color: $maincolor;
          font-weight: 600;
        }

        &.active,
        &:hover {
          color: black;
          font-weight: 400;

          &::before {
            content: "\2022";
            color: $maincolor;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }

          .count {
            visibility: visible;
            display: inline-block;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.display {
  visibility: visible;
  opacity: 1;
  display: inherit;
  animation: showsection 1s 1;

}

@keyframes showsection {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.undisplay {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear, opacity 0.3s linear;
  animation: hidesection 1s 1;

}

@keyframes hidesection {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 780px) {
  section {
    flex-direction: column;
    justify-content: flex-start;
    margin: 94px 0 0 0;
    height: auto;
    width: 100%;

    div {
      &.menu {
        margin: 2rem 0 0 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;


        height: auto;
     
        position: relative;
        top: 0;
      }

      &.viz {
        width: 100%;
        margin: -2rem 0 0 0;
      }

      ul {
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        li {
          font-size: 19px;
          font-weight: 300;
          color: #b3b3b3;
          list-style: none;
          margin: 0.5rem 20px 0 0;
          cursor: pointer;

          .count {
            visibility: hidden;
            display: none;
            color: $maincolor;
            font-weight: 600;
          }

          &.active,
          &:hover {
            color: black;
            font-weight: 700;

            &::before {
              content: "";
            }

            &::after {
              content: "\2022";
              color: $maincolor;
              font-weight: 700;
              display: inline-block;
              width: 0.5em;
              margin-left: -0.2em;
            }

            .count {
              visibility: hidden;
              display: inline-block;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
