@import '../../../../variables.scss';

.project-content {
  position: relative;

  .intro {
    align-content: center;
    align-items: center;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

     >img {
        width: 80%;
        max-width: 350px;
        height: auto;
      }
    }
  }

  .one-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      margin: 4rem auto;
      width: 80%;
      height: auto;
      max-width: 850px;
    }
  }
  .insights {
      .right {
        padding: 10rem 0 2.5rem 0;
        ul {
          margin: 0 0 0 1rem;
        }
        img {
          width: 70%;
          height: auto;
          margin: 1rem 0 0 0;
        }
      }
      .left {

        img {
          width: 80%;
          height: auto;
          margin: 1rem 0 0 0;

          &.icon-title {
            width: 120px;
            height: auto;
            margin: 5rem 0 0 0;
          }
        }
       
        h2 {
          margin: -1.5rem 0 0 0;
        }
      }
      
  }

  .findings {
    .left {
      .quote {
        font-size: 19px;
      }
      .icon {
        font-size: 59px;
        bottom: 30px;
        top: 0;
      }
    }
  }

  .explain,
  .mind {
    padding: 5rem 0 2.5rem 0;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      ;

      .quote {
        position: relative;
        display: inline-block;
        font-weight: 300;
      }

      .icon {
        position: absolute;
        top: -80px;
        left: 80%;
        font-weight: 800;
        font-size: 120px;
        color: $lightgray;
        mix-blend-mode: multiply;
        user-select: none;
      }
    }
  }

  .question {
    background-color: #2a2535;;
    padding: 2rem 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.yellow {
      background-color: #FFC627;;
      h2 {
        color: #1a1a1a;
        font-size: 18px;
      }
    }

    h2 {
      width: 50%;
      max-width: 1000px;
      margin: auto;
      color: $gray;
      font-weight: 400;
      text-align: center;
    }
  }


}

.inner-bold {
  font-weight: 700;

  &.whitecolor {
    color: white;
  }
}

.case-studie .project-content .col-2 .left {
  &.gifs {
    padding: 0 0 0 3rem;

  }
}

@media (max-width: 780px) {

  .project-content {
    .intro {
      .left {
        img {
          width: 97%;
          margin: -6rem auto 0 auto;        }
      }
    }
    .one-img {
      img {
        width: 97%;
        margin: 2rem auto;
      }
    }

    .question {
      height: auto;
      padding: 2rem 1rem;

      h2 {
        width: 95%;
        font-size: 23px;
      }
    }

    .insights {
      .left {
        img {
          width: 97%;
        }
      }
      .right {
        width: 95%;
        margin: 0 auto;   
        padding: 3rem 0 2.5rem 0; 
        img {
          width: 97%;
        }
      }
    }

  }
}