<section class="firstdisplay case-studie">
  <div class="cover" id="lee">
    <img class="one" src="./assets/projects/leelo/welcome.jpg" alt="">
  </div>
  <div class="intro-card">
    <span class="left">
      <h1>LEELO<img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">User experience - Problem Solving</p>
      <p class="second-title">Organize your readings and share it with your friends.</p><br />
      <p class="second-title">A web platform to enhance and to boost reading habits in college students.</p>
    </span>
    <span class="right">
      <div class="badges">
      </div>
      <br><br class="brmobile">
      <p class="tags">Role</p>
      <p class="second-title">Product Designer</p>
      <br class="brmobile"> <br class="brmobile">
      <p class="tags">Timeframe</p>
      <p class="second-title"> March - April 2018</p>
    </span>
  </div>
  <div class="project-content">
    <div class="col-2 intro">
      <span class="left">
        <img src="./assets/projects/leelo/intro-img.jpg" alt="">
      </span>
      <span class="right">
        <p>Non english native students spend considerable time reading and understanding english articles and documents.
          And they usually tend to not understand the author ideas or not finishing the readings.</p><br />
        <p>This college project aim to boost an habit through Human Computer Interaction. We studied the college
          students reading habit issues, and proposed a solution through HCI (Human Computer Interaction) which its viability
          and interest was fast-validated.</p>
      </span>
    </div>
    <div class="col-2 explain">
      <span class="left">
        <h2 class="quote">
          <h2 class="icon">!</h2>
          Reading in a language different<br /> from ours could demand us <br> <span class="inner-bold">times we don't
            expect to. </span>
        </h2>
      </span>
      <span class="right">
        <p>This case study was made with:</p>
        <br>
        <h3>Specific users</h3>
        <p>Design students from the Icesi University, considering the quantity of english readings they have to do
          during their program. </p> <br>
        <p>A group of 10 students did a read & comprehension test in english, in order to know the reading &
          comprehension level. We found that the level is at an average of <span
            class="inner-bold highlighted">63%</span>, meaning
          there is something interfering the reading habit.</p>
        <br>
        <h3>Cualitative methods</h3>
        <p>To find those interferences, we did <span
          class="inner-bold highlighted">interviews</span>, <span
          class="inner-bold highlighted">observation</span> (shadowing) and finally a <span
          class="inner-bold highlighted">survey</span> in order to know
          the users interests related with reading habits</p>
        <p>A short interview to know how the users pereceived the solution</p>
        <br>
        <h3>Cuantitative method</h3>
        <p>To evaluate the user engagement, the users rated, through a <span
          class="inner-bold highlighted"><a
            href="https://www.sciencedirect.com/science/article/pii/S1071581918300041" target="blank">UES short form</a></span>
          , these 4 aspects of the solution:
          Focus attention (FA), Perceived usability (PU), Aesthetic appeal (AE) and Endurability (EN). </p>
        <br>
      </span>
    </div>
    <div class="question">
      <h2>
        “Sometimes, if in the <span class="inner-bold whitecolor"> first page </span>there is a <span
          class="inner-bold whitecolor"> complicated </span>topic and I <span class="inner-bold whitecolor">don’t</span>
        completely <span class="inner-bold whitecolor">understand</span> from the beginning, I
        start to feel that I have to go back and <span class="inner-bold whitecolor">re-read several times</span>, and
        that takes me <span class="inner-bold whitecolor">too muuuuch time</span>”</h2>
    </div>

    <div class="col-2 insights findings">
      <span class="left">
        <img class="icon-title" src="./assets/projects/leelo/dot.svg" alt="">
        <h2>FINDINGS</h2>
        <br />
        <br />
        <h2 class="quote">
          <h2 class="icon">!</h2>
          "At the moment of doing <br /> my first read,I <span class="inner-bold">forget <br /> about the 80%</span> of
          what I read."
        </h2>
        <br />
        <br />
        <br />
        <br />
        <h2 class="quote">
          <h2 class="icon">!</h2>
          "Over time, with some many readings, <br /> my wallet is <span class="inner-bold">not enough to print <br />
             that  much</span>, then I got <br /> used to digital readings"
        </h2>
        <br />
        <br />
        <br />
        <br />
        <h2 class="quote">
          <h2 class="icon">!</h2>
          "Its very cool to <span class="inner-bold">underline and highlight</span>,<br /> I like it too much and also
          writing <br /> <span class="inner-bold">annotations</span> everywhere, <br /> <span class="inner-bold">because I
            easily forget  </span>"<br />
        </h2>
      </span>
      <span class="right">
        <p>Thanks to a state of art, interviews and reading comprehension tests with different users, considering variables as: focus, interest
          and comprehension, we could understand the actual experience of the students in this case.
          <br> <br>
          We found that the core pain issues are:</p><br />
        <ul>
          <li><span class="inner-bold">Search vocabulary</span> translation and meaning.</li>
          <br>
          <li><span class="inner-bold">Highlight</span> and comment <span class="inner-bold">inside</span> the articles.
          </li>
          <br>
          <li><span class="inner-bold">Organize</span> reading summaries.</li>
          <br>
          <li>Presentation of the reading itself.</li>
        </ul>
      </span>
    </div>

    <div class="col-2 insights">
      <span class="left">
        <img class="icon-title" src="./assets/projects/leelo/dot.svg" alt="">
        <h2>PROJECT GUIDELINES</h2>
        <img src="./assets/projects/leelo/logo.jpg" alt="">

      </span>
      <span class="right">
        <p>We made an style guide to keep consistent the design of the interfaces across the web platform. </p>
        <img src="./assets/projects/leelo/text.jpg" alt="">

      </span>
    </div>
    <div class="question yellow">
      <h2>
        Guided by this userflow, as a team we discussed and made a few wireframes and then we assigned different
        branches (of the userflow) to each one of the team to start prototyping the product. Userflows also let us have
        a clear view about the funcionalities needed by the user and how are they connected.
      </h2>
    </div>
    <div class="one-img">
      <img src="./assets/projects/leelo/User.png" alt="">
    </div>
    <div class="one-img">
      <img src="./assets/projects/leelo/wires.png" alt="">
    </div>
    <div class="col-2 insights">
      <span class="left">
        <img class="icon-title" src="./assets/projects/leelo/dot.svg" alt="">
        <h2>LEELO WEB APP</h2>

      </span>
      <span class="right">
        <p>According to the insights found in the field work, we propose these functions in our proposal:</p>
      </span>
    </div>
    <div class="one-img">
      <img src="./assets/projects/leelo/screen.png" alt="">
    </div>
    <div class="col-2 reversed-mob-col insights">
      <span class="left gifs">
        <img src="./assets/projects/leelo/translate.gif" alt="">
      </span>
      <span class="right">
        <p class="inner-bold">Translate unknown words</p>
        <p>To search vocabulary translation and meaning in less time and distractions.</p>
      </span>
    </div>
    <div class="col-2 reversed-mob-col insights">
      <span class="left gifs">
        <img src="./assets/projects/leelo/highlight.gif" alt="">
      </span>
      <span class="right">
        <p class="inner-bold">Highlight content and take notes</p>
        <p>To mark the most important content about the readings with personal annotations.</p>
      </span>
    </div>
    <div class="col-2 reversed-mob-col insights">
      <span class="left gifs">
        <img src="./assets/projects/leelo/notes.gif" alt="">
      </span>
      <span class="right">
        <p class="inner-bold">Keep all actions in the same workplace</p>
        <p>All highlights, notes, summaries are stored and can be accessed in the reading section by tabs.</p>
      </span>
    </div>
    <div class="one-img">
      <img src="./assets/projects/leelo/game.jpg" alt="">
    </div>
    <div class="col-2 insights">
      <span class="left ">
        <img class="icon-title" src="./assets/projects/leelo/dot.svg" alt="">
        <h2>VALIDATIONS</h2>
        <span>
          <img src="./assets/projects/leelo/test1.jpg" alt="">
          <img src="./assets/projects/leelo/test2.jpg" alt="">
        </span>
      </span>
      <span class="right">
        <p>The user testers perceived that Leélo will help them to be more organized, plan and improve their time with reading
          activities.</p>
        <img src="./assets/projects/leelo/af.jpg" alt="">
        <p>They also comment that is a good looking app but they can not understand a few aspects about the interaction
          with them. That is revealed in the UES evaluation of the experience. </p>
          <br>
        <img src="./assets/projects/leelo/ues.jpg" alt="">
        <br>
        <br>
        <p>Where the focus attention aspect can be
          improved by making clear how the web-app works, by doing so it can considerably increase the reward and usability
          perception of using Leélo.</p>
      </span>
    </div>
    <div class="closing-phrase">
      <p>This was a very nice project where we learned a lot about talking with people and finding what they need to have a better experience with their everyday activities like reading.</p>
      <img class="close-img" src="./assets/projects/leelo/closeimg.jpg" alt="">
      <h1>LEELO <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">March - April 2018</p>
    </div>
    <div class="project-footer">
      <div class="footer-cont">
        <p>Check out </p>
        <p><span class="inner-bold"><a href="./projects">More projects</a> </span></p>
        <div class="projects-cta">
          <div class="more-projects">
            <a routerLink="/projects/bioviz" routerLinkActive="active">
              <div class="project-cont">
                <div class="cover">
                  <img class="one" src="./assets/projects/bio/cover.jpg" alt="">
                </div>
                <img class="two" src="./assets/projects/bio/cover2.png" alt="">
                <h4>BIOVIZ</h4>
                <p class="year">2019</p>
              </div>
            </a>
          </div>

          <div class="reach-out">
            <p> <span class="inner-bold">Something to say? </span> <br>
              Send me an <span class="inner-bold">email</span></p>
            <p id="email"><span class="inner-bold">paugmnoz@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>