<section class="firstdisplay case-studie">
  <div class="cover" id="lee">
    <img class="one" src="./assets/projects/leelo/welcome.jpg" alt="">
  </div>
  <div class="intro-card">
    <span class="left">
      <h1>LEELO<img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">User experience - Problem Solving</p>
      <p class="second-title">Organize your readings and share it with your friends.</p><br />
      <p class="second-title">A web platform to enhance and to boost reading habits in college students.</p>
    </span>
    <span class="right">
      <div class="badges">
      </div>
      <br><br class="brmobile">
      <p class="tags">Role</p>
      <p class="second-title">Product Designer</p>
      <br class="brmobile"> <br class="brmobile">
      <p class="tags">Timeframe</p>
      <p class="second-title"> March - April 2019</p>
    </span>
  </div>
  <div class="project-content">
    <div class="col-2 intro">
      <span class="left">
        <img src="./assets/projects/bio/intro-img.jpg" alt="">
      </span>
      <span class="right">
        <p>Non english native students spend considerable time reading and understanding english articles and documents.
          And they usually tend to not understand the ideas the author or not finishing the readings.</p><br />
        <p>This college project aim to boost an habit through Human Computer Interaction. We studied the college
          students reading habit issues to propose a solution through HCI (Human Computer Interaction) and had a fast
          review about its viability.</p>
      </span>
    </div>
    <div class="col-2 explain">
      <span class="left">
        <h2 class="quote">
          <h2 class="icon">!</h2>
          Reading in a language different<br /> from ours could demand us <br> <span class="inner-bold">times we don't
            expect to. </span>
        </h2>
      </span>
      <span class="right">
        <p>This case study was made with:</p>
        <br>
        <h3>Specific users</h3>
        <p>Design students from the Icesi University, considering the quantity of english readings they have to do
          during their program. </p> <br>
        <p>A group of 10 students did a read & comprehension test in english, in order to know the reading &
          comprehension level. We found that the level is at an average of <span
            class="inner-bold highlighted">63%</span>, meaning
          there is something interfering the reading habit.</p>
        <br>
        <h3>Cualitative methods</h3>
        <p>To find those interferences, we did interviews, observation (shadowing) and finally a survey in order to know
          the users interests related with reading habits</p>
        <p>A short interview to know how the users pereceived the solution</p>
        <br>
        <h3>Cuantitative method</h3>
        <p>To evaluate the user engagement, the users rated, through a <a
            href="https://www.sciencedirect.com/science/article/pii/S1071581918300041" target="blank">UES short form</a>
          , these 4 aspects of the solution:
          Focus attention (FA), Perceived usability (PU), Aesthetic appeal (AE) and Endurability (EN). </p>
        <br>
      </span>
    </div>
    <div class="question">
      <h2>
        “Sometimes, if in the <span class="inner-bold whitecolor"> first page </span>there is a <span
          class="inner-bold whitecolor"> complicated </span>topic and I <span class="inner-bold whitecolor">don’t</span>
        completely <span class="inner-bold whitecolor">understand</span> from the beginning, I
        start to feel that I have to go back and <span class="inner-bold whitecolor">re-read several times</span>, and
        that takes me <span class="inner-bold whitecolor">too muuuuch time</span>”</h2>
    </div>

    <div class="col-2 insights">
      <span class="left">
          <img src="./assets/projects/leelo/dot.svg" alt="">
        <h2>FINDINGS</h2>
      </span>
      <span class="right">
        <p>Thanks to a state of art, interviews and test with different users, considering variables as: focus, interest
          and comprehension, we could understand the actual experience of the students in this case.
          <br> <br>
          We found the core pain issues are:</p><br />
        <ul>
          <li>Search vocabulary translation and meaning.</li>
          <li>Highlight and comment inside the articles.</li>
          <li>Organize reading summaries.</li>
          <li>Presentation of the reading itself.</li>
        </ul>
      </span>
    </div>

    <div class="col-2 insights">
        <span class="left">
            <img src="./assets/projects/leelo/dot.svg" alt="">
          <h2>PROJECT GUIDELINES</h2>
          <img src="./assets/projects/leelo/logo.jpg" alt="">

        </span>
        <span class="right">
          <p>We made an style guide to keep consistent the design of the interfaces across the web platform. </p>
          <img src="./assets/projects/leelo/text.jpg" alt="">

        </span>
      </div>
    <div class="closing-phrase">
      <img class="close-img" src="./assets/projects/bio/closing.jpg" alt="">
      <h1>LEELO <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">March - April 2019</p>
    </div>
    <div class="project-footer">
      <div class="footer-cont">
        <p>Check out </p>
        <p><span class="inner-bold"><a href="./projects">More projects</a> </span></p>
        <div class="projects-cta">
          <div class="more-projects">
            <a routerLink="/projects/wip" routerLinkActive="active">
              <div class="project-cont">
                <div class="cover">
                  <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
                </div>
                <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
                <h4>LEELO</h4>
                <p class="year">2018</p>
              </div>
            </a>
          </div>

          <div class="reach-out">
            <p> <span class="inner-bold">Something to say? </span> <br>
              Send me an <span class="inner-bold">email</span></p>
            <p id="email"><span class="inner-bold">hola@paugmnoz.design</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>