<section class="firstdisplay">
  <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active" class="">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/film-prev.png" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Filmmate</h2>
      <p>UX/UI Design</p>
    </article>
  </a>
  <a routerLink="/projects/leelo" routerLinkActive="active" class="">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/leelo-prev.png" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Leelo</h2>
      <p>UX/UI Design</p>
    </article>
  </a>
  <a href="https://www.behance.net/gallery/67840903/MercaTruck" target="_blank" routerLinkActive="active" class="">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/merca-prev.png" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Mercatruck</h2>
      <p>UX/UI Design</p>
    </article>
  </a>
</section>

