<section class="firstdisplay">
  <a href="https://www.behance.net/gallery/67840903/MercaTruck" target="_blank" routerLinkActive="active" class="card-left">
    <div class="container ">
      <div class="cover">
        <img class="one" src="./assets/projects/mercatruck/cover1.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/mercatruck/cover2.png" alt="">
      <h4>MERCATRUCK</h4>
      <p class="year">2018</p>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active" class="card-right">
    <div class="container ">
      <div class="cover">
        <img class="one" src="./assets/projects/filmmate/cover.png" alt="">
      </div>
      <img class="two" src="" alt="">
      <h4>FILMMATE</h4>
      <p class="year">2017</p>
    </div>
  </a>
  <a routerLink="/projects/leelo" routerLinkActive="active" class="card-left">
      <div class="container">
        <div class="cover">
          <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
        </div>
        <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
        <h4>LEELO</h4>
        <p class="year">2018</p>
      </div>
    </a>

</section>

