<section class="firstdisplay">
  <a routerLink="/projects/woofme" routerLinkActive="active">
  <div class="container">
      <div class="cover">
        <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
      <h4>LEELO</h4> <p class="year">2018</p>
    </div>
  </a>
  <a routerLink="/projects/wip" routerLinkActive="active">
    <div class="container ">
        <div class="cover">
          <img class="one" src="./assets/projects/banner/cover.jpg" alt="">
        </div>
        <img class="two" src="./assets/projects/banner/cover2.png" alt="">
        <h4>BANNER RE DESIGN</h4> <p class="year">2017</p>
      </div>
  </a>
</section>

