<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<section id="social">
<ul>
  <li><a href="https://www.behance.net/paugmnoz" target="_blank"> <img src="./assets/social/be-1.svg" alt=""></a></li>
  <li><a href="https://www.linkedin.com/in/paugmnoz/" target="_blank"> <img src="./assets/social/in-1.svg" alt=""></a></li>
  <li><a href="https://github.com/paugmnoz" target="_blank"> <img src="./assets/social/git-1.svg" alt=""></a></li>
  <li><a href="https://www.instagram.com/paugmnoz.design/" target="_blank"> <img src="./assets/social/ig-1.svg" alt=""></a></li>
</ul>
</section>

<router-outlet>
   
</router-outlet>

<!-- Routed components go here -->
