#social {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1501;
    ul {
        list-style: none;
        max-width: 28px;
        width: 35px;
        li {
            cursor: pointer;
            margin: 0 0 8px 0;
            opacity: 1;
            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }
}
app-nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500

}


@media (max-width: 780px)  {
    #social {
        display: none;
    }
}