@import './../../../../../variables.scss';
section {
  
  width: 100vw;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1.5rem;
  a:nth-child(2n) {
    margin: 4rem 0 0 0;
   }
  .container {
    margin: 2rem 0 1rem 0;
  }

}