<section class="firstdisplay">
  <a href="https://www.instagram.com/paugmnoz.design/" target="_blank" class="card-left">
    <article class="proj-container">
      <div class="project-preview firstdisplay">
        <img src="./assets/previews/illustration-prev.jpg" alt="">
        <div class="shadow"></div>
      </div>
      <h2>Instagram</h2>
      <p>Illustration</p>
    </article>
  </a>
    
    <a href="https://www.dribbble.com/paubao" target="_blank" class="card-right">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/drib-prev.png" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Dribbble</h2>
        <p>Visual Design</p>
      </article>
    </a>
</section>

