<section class="firstdisplay">
  <a href="https://www.instagram.com/paugmnoz.design/" target="_blank" class="card-left">
    <div class="container">
      <div class="cover">
        <img class="one" src="./assets/projects/instagram/cover.jpg" alt="">
      </div>
      <img class="two" src="" alt="">
      <h4>INSTAGRAM</h4>
      <p class="year"></p>
    </div>
  </a>
    
    <a href="https://www.dribbble.com/paubao" target="_blank" class="card-right">
      <div class="container">
        <div class="cover">
          <img class="one" src="./assets/projects/dribbble/cover.png" alt="">
        </div>
        <img class="two" src="" alt="">
        <h4>DRIBBBLE</h4>
        <p class="year"></p>
      </div>
    </a>
</section>

