@import '../../../../variables.scss';

.project-content {
  position: relative;

  .intro {
    align-content: center;
    align-items: center;
    p {
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .who {
    align-content: center;
    align-items: center;
    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      img {
        width: 80%;
        max-width: 350px;
        height: auto;
      }
    }
  }

  .context {
    padding: 5rem 0 5.5rem 0;

    .left {
      position: relative;

      img {
        position:sticky; 
        top:7rem;
        left: 0;
        width: 100%;
        height: auto;
        
      }
      .quote {
        position: relative;
        padding:  1rem 0 2rem 0;
        display: inline-block;
        font-weight: 300;
        position:sticky; 
        top:1rem;
        z-index: 5;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); 
      }
    }
  }

  .ilustration-col {
    .left {
      display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

      img {
        
        &.draw {
          width: 70%;
        }
        width: 90%;
        height: auto;
        margin: 2rem auto 0 auto;
      }
    }
  }

  .happend {
    align-items: center;
  }
  .ux-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem 0;
    article {
      width: 25%;
      p {
        text-align: center;
      }
    }
  }
  .explain,
  .mind {
    padding: 5rem 0 2.5rem 0;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .quote {
        position: relative;
        display: inline-block;
        font-weight: 300;
      }

      .icon {
        position: absolute;
        top: -80px;
        left: 80%;
        font-weight: 800;
        font-size: 120px;
        color: $lightgray;
        mix-blend-mode: multiply;
        user-select: none;
      }
    }
  }

  .mind {
    .right {
      h3 {
        margin: 1.5rem 0;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        flex-wrap: wrap;
        margin: 1rem 0;

        li {
          text-align: center;
        }
      }
    }
  }

  .intro-bio {
    padding: 3rem 0;
    .left {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
     
    }
    .right {
      padding: 1rem 0 0 2rem;
    }
  }
  .ilustration-col {
    padding: 2rem 0;
  }
  .question {
    background-color: #272e2e;
    padding: 2rem 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.green {
      background-color: #44CD88;
      h2 {
      color: white; }
    }
    &.white {
      background-color: #ffffff;

    }
    &.two{
      background-color: #fafafa;
      h2 {

        color: #272e2e;
      }
    }

    h2 {
      width: 50%;
      max-width: 1000px;
      margin: auto;
      color: $gray;
      font-weight: 400;
      text-align: center;
    }
  }

  .img-only {
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 80%;
      height: auto;
      max-width: 1300px;
      margin: 0 auto;
    }
    &.bio-one{
      background-color: #232929;
    }
  }

  .exp-section {
    width: 100%;
    position: relative;

    .exp-design {
      width: 50%;
      float: right;
      background-color: $lightgray;
      padding: 2rem;
      margin: 2.5rem 0 0 0;
    }
  }
  .product-desc {
    width: 99.4vw;
    color: white;
    background-color: #232929;
    padding: 4rem 0;
  }

  .focus {
    padding: 1rem 0 3rem 0;
    .left{
      img {
        width: 100%;
        height: auto;
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
 .highlighted-green { 
    color: #44CD88;
    font-weight: 700;
  }
  .dark-back{
    width: 99.4vw;
    color: white;
    background-color: #232929;
  }
  .solution {
    padding: 5rem 0;
    .left{
      .green {
        color: #44CD88;
        font-size: 14px;
      }
      .pre-quote {
        color: #CBE2D7;
        font-size: 14px;
      }
      img {
        width: 125%;
        height: auto;
        margin: 0 0 0 -10%;
  
      }
    }
    .right{
      padding: 4rem 0 0 6.5rem;
      position: relative;
      .text-sticky {
        position:sticky; 
        top: 7rem;
        left: 0;
      }
    }
  }
  .over {
    background-color: #EFEFEF;
    width: 100%;
    padding: 2rem 0;

  }
  .overwhelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: #EFEFEF;
    position: relative;
    article {
      width: 355px;
    }
    .start, .where {
      position: absolute;
      width: 220px;
    }
    .start {
      top: 2rem;
      left: 10%;
    }
    .where {
      top: 7rem;
      right: 15%;
    }
    .pre-quote {
      color: #44CD88;
      font-size: 15px;
    }
    .quote {
      position: relative;
      padding:  0 0 2rem 0;
      display: inline-block;
      font-weight: 300;
      width: 350px;
    }
    .arrow {
      height: 120px;
      width: auto;
    }
    .longtext {
      margin: 1rem 0 0 0;
      width: 45%;
      text-align: center;
    }
  }
  .design-system {
    padding: 3rem 0;
    background-color: #EFEFEF;
    width: 100%;
    .intro{
      .left {
        margin: -18px;
      }
      img{
        height: 50px;
        width: auto;
      }
      h5{
        font-size: 25px;
        font-weight: 800;
        color: #CBE2D7;
      }
    }
    .temp-photo{
      align-items: center;
      padding: 2rem 0;
      .left {
        img {
          width: 135%;
          height: auto;
          margin: 0 0 0 -10%;
        }
      }
      .right {
        padding: 0 0 0 10%;
      }
    }
  } 
  .atomic-design {
    padding: 3rem 0;
    background-color: #F7F7F7;
    width: 100%;
    h5{
      font-size: 25px;
      font-weight: 800;
      color: #CBE2D7;
      width: 90%;
      margin: auto;
      max-width: 1300px;
      padding: 0 0 0 10rem;
    }
    div {
      width: 99.6%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 70%;
        height: auto;
        margin: 2rem 0;
      }
    }
  }
}

.inner-bold {
  font-weight: 700;

  &.whitecolor {
    color: white;
  }
}

@media (max-width: 780px) {
  .project-content {
    .intro {
      .left {
        img {
          margin: 0 auto;
        }
 
      }
    }

    .question {
      height: auto;
      padding: 2rem 1rem;

      h2 {
        width: 95%;
        font-size: 23px;
      }
    }


    .pilot-vest {
      flex-direction: column;

      .inner-pilot {
        flex-direction: column;

        .left {
          width: 80%;
        }

        .right {
          width: 100%;
          margin: -40px 0 0 0;

          .float-img {
            max-width: 100%;
            bottom: 100%;
            left: 0px;
          }
        }
      }
    }

    .exp-section {
      .exp-design {
        width: 80%;
      }
    }
    .intro-bio {
      padding: 3rem 0 240px 0;
      .left {
        img {
          top: 330px;
        }
      }
    }

    .solution {
      padding: 5rem 0;
      .left{
        img {
          width: 100%;
          height: auto;
          margin: 0;
    
        }
      }
      .right{
        padding: 4rem 0 0 0;
        .text-sticky{
          
    width: 90%;
    margin: auto;
        }
      }
    }

    .overwhelm {
      article {
        margin: 9rem 0;
      }
      .start {
        top: 2rem;
        left: 2%;
      }
      .where {
        top: 21rem;
        right: 2%;
      }
      
    .longtext {
      width: 95%;
    }
     }
      

    .photoframe {
      .dog {
        width: 50%;
        max-height: 150px;

        img {
          height: auto;
          width: 140%;
          margin: auto;
        }
      }

      .vest {
        width: 100%;
      }

      &.ph-2 {
        flex-direction: row-reverse;
      }
    }

  }
}

.project-content {
  .closing-phrase {
    .close-img {
      width: 150px;
    }
  }
}