<section  class="firstdisplay case-studie">
  <div class="cover" id="bio">
    <img class="one" src="./assets/projects/bio/welcome.jpg" alt="">
  </div>
  <div class="intro-card">
    <span class="left">
        <h1>BIOVIZ<img src="./assets/logo/circle.png" alt=""></h1>
        <p class="tags">User experience -  Research - Data Visualization</p>
        <p class="second-title">Studying nature bioacoustics.</p><br/>
        <p class="second-title">Design for an artificial intelligence output and data visualization in a scientific software to analyze bioacoustics and counting bird species.</p>
    </span>
    <span class="right">
      <div class="badges">
        <img src="./assets/projects/woof/i2t.png" alt="">
      </div>
      <br><br class="brmobile">
      <p class="tags">Role</p>
      <p class="second-title">UX Researcher</p>
      <br class="brmobile"> <br class="brmobile">
      <p class="tags">Timeframe</p>
      <p class="second-title"> Jan 2019 - Present </p>
    </span>
  </div>
  <div class="project-content">
    <div class="col-2 intro">
        <span class="left">
          <img src="./assets/projects/bio/intro-img.jpg" alt="">
        </span>
        <span class="right">
          <p>Colombia, as the one of the most biodiverse countries in the world, needs a way to quantify its biodiversity. One of the best way to do it is to implement remote bioacoustic monitoring in their natural zones.</p><br/>
          <p>With this method, biologists get the data to find the different species living in the ecosystem and to analyze relationships between them.</p>
        </span>
    </div>
    <div  class="col-2 explain">
      <span class="left">
          <h2 class="quote">           <h2 class="icon">!</h2>
          However, this method <br/>  let <span class="inner-bold"> big amount of acoustic data </span> <br/> that demands time to be <br/> listened and analyzed.</h2>
      </span>
      <span class="right">
        <p>Doing bioacoustic monitoring, with the actual tools, implies:</p>
        <br>
          <h3>Species knowledge and expertise</h3>
          <p>The analyst has to have a background with the sounds a specie makes and their spectrogram representation</p>
          <br>
          <h3>A lot of time</h3>
          <p>Labeling the species present in all audio files demands hours even months.</p>
          <br>
          <h3>Order</h3>
          <p>Having all the audios organized and labeled can result complicated if there's multiple projects and the great quantity of data that each one has. If there's a team, it's difficult to know the progress if there's not an order.</p>
          <br>
      </span>
    </div>
    <div class="question">
        <h2>We need to <span class="inner-bold whitecolor"> optimize</span> the large acoustic database  <span class="inner-bold whitecolor">
            management</span> and  <span class="inner-bold whitecolor">visualization</span> so <span class="inner-bold whitecolor">
              biologist or amateurs</span> with few expertise can help with bioacoustic research.</h2>
      </div>
      <div class="closing-phrase">
          <p>I'm currently <span class="inner-bold">working</span> in the solution proposed in this project.</p>
           <img class="close-img" src="./assets/projects/bio/closing.jpg" alt="">
          <h1>BIOVIZ <img src="./assets/logo/circle.png" alt=""></h1>
          <p class="tags">2019 - Present</p>
        </div >
    <div class="project-footer">
      <div class="footer-cont">
          <p>Check out </p>
          <p><span class="inner-bold"><a href="./projects">More projects</a> </span></p>
          <div class="projects-cta">
            <div class="more-projects">
                <a routerLink="/projects/wip" routerLinkActive="active">
                  <div class="project-cont">
                    <div class="cover">
                      <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
                    </div>
                    <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
                    <h4>LEELO</h4>
                    <p class="year">2018</p>
                  </div>
                </a>
            </div>
                
        <div class="reach-out">
            <p> <span class="inner-bold">Something to say? </span> <br>
                Send me an <span class="inner-bold">email</span></p>
            <p id="email"><span class="inner-bold">hola@paugmnoz.design</span></p>
          </div>
        </div>
      </div>
    </div>
</div> 
  
    <!--
    <div class="closing-phrase">
      <p>This project was published by Springer in the Communications in Computer and Information Science Series through the <span class="inner-bold">HCI Internacional Conference 2019.</span></p>
      <p>For more information about experimental design 
          <br> and results, check out <a  target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-030-23525-3_58">here</a> </p>
      <img class="close-img" src="./assets/projects/woof/closing-img.svg" alt="">
      <h1>WOOF ME <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">2018-2019</p>
    </div >
    -->


</section>