<section class=" case-studie">
  <div class="firstdisplay cover" id="bio">
    <img class="one" src="./assets/projects/bio/welcome.jpg" alt="">
  </div>
  <div class="intro-card firstdisplay">
    <span class="left">
      <h1>BIOVIZ<img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">User experience - Research - Data Visualization</p>
      <p class="second-title">Studying nature bioacoustics.</p><br />
      <p class="second-title">An improved scientific software proposal to analyze bioacoustics and counting bird
        species.</p>
    </span>
    <span class="right">
      <div class="badges">
        <img src="./assets/projects/woof/i2t.png" alt="">
      </div>
      <br><br class="brmobile">
      <p class="tags">Role</p>
      <p class="second-title">UX Researcher - UI Designer</p>
      <br class="brmobile"> <br class="">
      <p class="tags">Timeframe</p>
      <p class="second-title"> Jan 2019 - Dec 2019 </p>
    </span>
  </div>
  <div class="project-content">
    <div class="single-col intro firstdisplay">
      <p>Colombia, like one of the most biodiverse countries in the world, needs a way to quantify its biodiversity
        and facilitate its protection. A start to accomplish that objective is to implement remote bioacoustic
        monitoring. Colombia's natural zones should be recorded to keep counts of the biodiversity. </p>
    </div>
    <div class="col-2 who">
      <span class="left">
        <img src="./assets/projects/bio/intro-img.jpg" alt="">
      </span>
      <span class="right">
        <h3>Who is involved ?</h3>
        <br>
        <p>Bioacoustic monitoring are usually made by groups of biology professionals. Basically every professional
          studying nature from the sounds of species. However, this project focused on an ornithology context, since
          that
          discipline is the one that uses bioacoustics the most.
        </p>
      </span>
    </div>
    <div class="col-2 context firstdisplay">
      <span class="left left-sticky">
        <h2 class="quote">
          The process of a bioacoustic monitoring study:
        </h2>
        <img src="./assets/projects/bio/process.png" alt="">

      </span>
      <span class="right">
        <h3>How does bioacoustic monitoring work?</h3>
        <br>
        <p>In our context approach, we made several interviews with ornithologists and herpetologist to get to know this
          labor.
          From all of them we conclude this is the general experience of doing a bioacoustics study:</p>
        <br>
        <br>
        <br>
        <h3>1. Record Data. </h3>
        <p>
          One of the most recording protocols used is to record by counting points. Which
          consists taking the recording as a complement for a visual-field study (counting birds by eye). Biologist
          record every station meanwhile they are looking for species in the area, when they come back to the laboratory
          they listen the records to verify what they found and to find any other species not listed in field.
        </p>
        <br>
        <p>
          The other protocol is using an ARU (Automatic Record Unit) is to left it with a programmed schedule for a
          period of time. In that case,
          biologists don't have an idea of what they will found more than technical information like species of the
          area. But due to the absence of humans around, a more natural behavior study can have more interesting
          results.
        </p>
        <br>
        <br>
        <h3>2. Data gathering from recorders.</h3>
        <p>Data is usually manually collected in SD memory cards once or multiple times. Sometimes is possible to
          collect it digitally, when the area has good network signals what is usually not. </p>
        <br>
        <br>
        <h3>3. Data Review.</h3>
        <p>
          Once data was gathered, biologist can review the audios in their computers. The need to play them in software
          that let them see the spectrogram of the sound and adjust sound characteristics to help them identify any bird
          sounds.
        </p>
        <br>
        <br>
        <h3>4. Data label and storage.</h3>
        <p>Once a sound is identified, biologists make a list in which they put the species and study information with
          the audio trimmed. </p>
        <br>
      </span>
    </div>
    <div class="question">
      <h2>Doing bioacoustic studies requires a large use of<span class="inner-bold whitecolor"> digital software</span>
        to review data and <span class="inner-bold whitecolor">
          to label it</span> proprerly. <span class="inner-bold whitecolor"> How great is the experience of using a
          labelling software and carrying out a bioacoustic study?</span></h2>
    </div>
    <div class="col-2 happend firstdisplay">
      <span class="left">
        <br> <br> <br>
        <h2 class="quote">
          This is a task that can still be improved, especially, when we see it from a digital product experience view.
        </h2>
      </span>
      <span class="right">
        <br><br>
        <h3>First, let's see what’s happening</h3>
        <br>
        <p>Besides, there is already a protocol and a usual process to do bioacoustic monitoring, this is a task that
          can still be improved. Especially, when we see it from a digital product experience view. In our early steps
          in this project, my partner, Sebastián, and I conducted the following methods to get acquainted with the
          bioacoustic monitoring experience.
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">
        <img src="./assets/projects/bio/methods.png" alt="">
      </span>
      <span class="right">
        <article>
          <p class="inner-bold">Multiple expert interviews with professionals.</p>
        </article>
        <br>
        <article>
          <p class="inner-bold">Observation of the main task: Data Review, Label, and Storage with professionals.</p>
        </article>
        <br>
        <article>
          <p class="inner-bold">Immersion with 5 software. </p>
        </article>
        <br>
        <p>From these qualitative methods, we made an affinity diagram that gave us the scope of the project. In the
          first place, it let us know the professional's perception for realizing this task and, on the other hand, the
          context and understanding of the experience design performance of the most popular software used. With those,
          we could identify the main issues that are hindering the bioacoustic monitoring task, then start wondering and
          asking ourselves what can we do, as designers, to minimize those pains.
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">
        <img class="draw" src="./assets/projects/bio/storage.png" alt="">

      </span>
      <span class="right">
        <h3>There are lots of records without been analyzed and without a storage order.</h3>
        <br>
        <p>80% of the professionals agreed with the fact of having lots of recordings of important zones without been
          analyzed and distributed in multiple external hard drives. They all said the reason was a lack of people and
          time to listen and label the species recorded in all those registers. What can we do to help them to organize
          and manage these files? And is there a way to reduce the time of review and labeling for those?
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">

      </span>
      <span class="right">
        <h3>In Colombia, there are not enough qualified people who can carry out this type of study. </h3>
        <br>
        <p>Despite being the 2nd country most biodiverse, the percentage of potential professionals that could perform
          these studies is relatively low. As we can see in the chart below. Is there something we can do to encourage
          and become the bioacoustic monitoring a more engaging experience?
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">
        <img class="draw" src="./assets/projects/bio/start.png" alt="">

      </span>
      <span class="right">
        <h3>The first experience with the majority of software results overwhelming.</h3>
        <br>
        <p>From all software we download and use as newbies into this task, our first impression can be resumed in a
          quote “Where should I start? and Do I need to use all of these buttons?”.
        </p>
        <br>
        <p>Almost every possible action in the software was displayed since the beginning. And this often passes with
          scientific software, like ****, it seems like user interface design is not a primordial aspect when developing
          them. As expected, scientific software are not easy to learn to use them, because they are created to do
          specific and complex (several) actions that a computers cand make faster; somehow, these should help the
          people to do those complex actions in a simple and unconfusing experience, and this can be achieved with good
          information architecture.
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">
      </span>
      <span class="right">
        <h3>Limited actions on the main tool for the study.</h3>
        <br>
        <p>As we know, bioacoustic monitoring is mostly used with birds, and spectrograms are the key to label the
          species. However, the immersion showed us that the 75% of the software didn’t let the user interact that much
          with spectrograms, moreover, the professionals end up using multiple software that in the first place let them
          interact with the spectrogram in a more customized way, but also due to simplicity that gives them.
          Simplicity? Yeah. It is related to the overwhelming experience mentioned before. They look for simpler ways to
          do what the need.
        </p>
      </span>
    </div>
    <div class="col-2 ilustration-col firstdisplay">
      <span class="left">
        <img class="draw" src="./assets/projects/bio/where.png" alt="">

      </span>
      <span class="right">
        <h3>The software interfaces always look the same, there’s no easy way to know what are you doing.</h3>
        <br>
        <p> Taking the immersion with a design view, we found that the interfaces don’t give strong feedback about their
          state, everything is gray and it turns a bit exhausting. You can not take a break if you are not finished,
          otherwise, when you come back you will found you a bit lost in the software.

        </p>
        <br>
        <br>
      </span>
    </div>
    <div class="question two firstdisplay">
      <h2>Now, answering the questions that every issue made us do ourselves, and according to the fact that
        most of the issues were related with the digital tools researchers use, <span class="inner-bold"> we propose Bioviz.</span> 
      </h2>
    </div>
    <div class="col-2 intro-bio firstdisplay">
      <span class="left">
        <img src="./assets/projects/bio/bioviz-0.png" alt="">
      </span>
      <span class="right">
        <h3>Easy to learn</h3>
        <br>
        <h3>Friendly to use</h3>
        <br>
        <h3>Collaborative</h3>

      </span>
    </div>
    <div class="img-only bio-one firstdisplay">
      <img class="" src="./assets/projects/bio/bio-1.jpg" alt="">
    </div>

    <div class="closing-phrase firstdisplay">

      <img class="close-img" src="./assets/projects/bio/closing.jpg" alt="">
      <h1>BIOVIZ <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">2019 - Present</p>
    </div>
    <div class="project-footer">
      <div class="footer-cont">
        <p>Check out </p>
        <p><span class="inner-bold"><a href="./projects">More projects</a> </span></p>
        <div class="projects-cta">
          <div class="more-projects">
            <a routerLink="/projects/leelo" routerLinkActive="active">
              <div class="project-cont">
                <div class="cover">
                  <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
                </div>
                <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
                <h4>LEELO</h4>
                <p class="year">2018</p>
              </div>
            </a>
          </div>

          <div class="reach-out">
            <p> <span class="inner-bold">Something to say? </span> <br>
              Send me an <span class="inner-bold">email</span></p>
            <p id="email"><span class="inner-bold">hola@paugmnoz.design</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
    <div class="closing-phrase">
      <p>This project was published by Springer in the Communications in Computer and Information Science Series through the <span class="inner-bold">HCI Internacional Conference 2019.</span></p>
      <p>For more information about experimental design 
          <br> and results, check out <a  target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-030-23525-3_58">here</a> </p>
      <img class="close-img" src="./assets/projects/woof/closing-img.svg" alt="">
      <h1>WOOF ME <img src="./assets/logo/circle.png" alt=""></h1>
      <p class="tags">2018-2019</p>
    </div >
    -->


</section>