<!--<div id="project_viz" class="firstdisplay">

</div> -->
<div class=" overview firstdisplay">
    <a routerLink="/projects/woofme" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Woofme</h2>
        <p>UX Research</p>
      </article>
    </a>
    <a routerLink="/projects/bioviz" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/bio-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Bioviz</h2>
        <p>UX Research - UI Design</p>
      </article>
    </a>
    <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/film-prev.png" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Filmmate</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a routerLink="/projects/leelo" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/leelo-prev.png" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Leelo</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a href="https://www.behance.net/gallery/67840903/MercaTruck" target="_blank" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/merca-prev.png" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Mercatruck</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a href="https://www.instagram.com/paugmnoz.design/" target="_blank" class="card-left">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/illustration-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Instagram</h2>
        <p>Illustration</p>
      </article>
    </a>
      
      <a href="https://www.dribbble.com/paubao" target="_blank" class="card-right">
        <article class="proj-container">
          <div class="project-preview firstdisplay">
            <img src="./assets/previews/drib-prev.png" alt="">
            <div class="shadow"></div>
          </div>
          <h2>Dribbble</h2>
          <p>Visual Design</p>
        </article>
      </a>
</div>
