<!--<div id="project_viz" class="firstdisplay">

</div> -->
<div class=" overview firstdisplay">
    <a routerLink="/projects/woofme" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Woofme</h2>
        <p>UX Research</p>
      </article>
    </a>
    <a routerLink="/projects/bioviz" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Bioviz</h2>
        <p>UX Research - UI Design</p>
      </article>
    </a>
    <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Filmmate</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a routerLink="/projects/leelo" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Leelo</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a href="https://www.behance.net/gallery/67840903/MercaTruck" target="_blank" routerLinkActive="active" class="">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Mercatruck</h2>
        <p>UX/UI Design</p>
      </article>
    </a>
    <a href="https://www.instagram.com/paugmnoz.design/" target="_blank" class="card-left">
      <article class="proj-container">
        <div class="project-preview firstdisplay">
          <img src="./assets/previews/woofme-prev.jpg" alt="">
          <div class="shadow"></div>
        </div>
        <h2>Instagram</h2>
        <p>Illustration</p>
      </article>
    </a>
      
      <a href="https://www.dribbble.com/paubao" target="_blank" class="card-right">
        <article class="proj-container">
          <div class="project-preview firstdisplay">
            <img src="./assets/previews/woofme-prev.jpg" alt="">
            <div class="shadow"></div>
          </div>
          <h2>Dribbble</h2>
          <p>Visual Design</p>
        </article>
      </a>
</div>

<section class="overview-mobile firstdisplay">
  <a routerLink="/projects/woofme" routerLinkActive="active">
    <div class="container">
      <div class="cover">
        <img class="one" src="./assets/projects/woof/cover.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/woof/cover-2.svg" width="170px" alt="">
      <h4>WOOF ME</h4>
      <p class="year">2018 - 2019</p>
    </div>
  </a>
  <a routerLink="/projects/bioviz" routerLinkActive="active">
    <div class="container ">
      <div class="cover">
        <img class="one" src="./assets/projects/bio/cover.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/bio/cover2.png" alt="">
      <h4>BIOVIZ</h4>
      <p class="year">2019</p>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/59164397/Filmmate" target="_blank" routerLinkActive="active" class="">
    <div class="container ">
      <div class="cover">
        <img class="one" src="./assets/projects/filmmate/cover.png" alt="">
      </div>
      <img class="two" src="" alt="">
      <h4>FILMMATE</h4>
      <p class="year">2017</p>
    </div>
  </a>
  <a routerLink="/projects/leelo" routerLinkActive="active">
    <div class="container">
      <div class="cover">
        <img class="one" src="./assets/projects/leelo/cover.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/leelo/cover2.png" alt="">
      <h4>LEELO</h4>
      <p class="year">2018</p>
    </div>
  </a>
  <a href="https://www.behance.net/gallery/67840903/MercaTruck" target="_blank" routerLinkActive="active" class="">
    <div class="container ">
      <div class="cover">
        <img class="one" src="./assets/projects/mercatruck/cover1.jpg" alt="">
      </div>
      <img class="two" src="./assets/projects/mercatruck/cover2.png" alt="">
      <h4>MERCATRUCK</h4>
      <p class="year">2018</p>
    </div>
  </a>
  <a href="https://www.instagram.com/paugmnoz.design/" target="_blank" class="card-left">
    <div class="container">
      <div class="cover">
        <img class="one" src="./assets/projects/instagram/cover.jpg" alt="">
      </div>
      <img class="two" src="" alt="">
      <h4>INSTAGRAM</h4>
      <p class="year"></p>
    </div>
  </a>
    
    <a href="https://www.dribbble.com/paubao" target="_blank" class="card-right">
      <div class="container">
        <div class="cover">
          <img class="one" src="./assets/projects/dribbble/cover.png" alt="">
        </div>
        <img class="two" src="" alt="">
        <h4>DRIBBBLE</h4>
        <p class="year"></p>
      </div>
    </a>
</section>